<h3>Add a new task!</h3>

<%= form_for(@task) do |f| %>
  <div class="d-flex flex-column">
  <span>
  <%= f.label :title %>
  <%= f.text_field :title %>
  </span>
  <span>
  <%= f.label :details %>
  <%= f.text_field :details %><br>
  </span>
  </div>

  <br>
  <span class="d-flex justify-content-center">
  <%= f.submit %>
  </span>
<% end %>

<br><br>
<p><%= link_to 'Back to all tasks', tasks_path %></p>
